<h1>Preference#index</h1>
<p>Find me in app/views/preference/index.html.erb</p>

<!-- Create a PreferencesController, routes, and views. -->
<!-- Do this under an Admin module to separate it from the standard user functionality. -->